<h1>Edit Order</h1>

<h3>Change Vendor</h3>
<%= form_for(@order) do |f| %>
  <div class="row">
     <%= f.label :vendor_id, "Vendor:" %>
     <%= f.select :vendor_id, options_from_collection_for_select(Vendor.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <h3>Items:</h3>
  <%= render 'items' %>
<% end %>

<br />
<%= link_to "Return back to order request", order_path(@order)%>
