<h1>Edit Order</h1>

<h3>Change Vendor</h3>
<%= form_for(@order) do |f| %>
  <div class="row">
     <%= f.label :vendor_id, "Vendor:" %>
     <%= f.select :vendor_id, options_from_collection_for_select(Vendor.all, :id, :name) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <h3>Items:</h3>
  <ul>
    <% @items.each_with_index do |item, index|%>
      <li>Item# <%= index + 1 %></li>
      <ul>
        <li> <%= item.product_name %> </li>
        <li> Cat # <%= item.cat_number %> </li>
        <li> QTY: <%= item.quantity %> </li>
        <li> Price: <%= '%.2f' % item.price %> </li>
        <li> URL: <a href="<%= item.url %>"  target="_blank"><%= item.url %></a> </li>
      </ul>
      <% unless @order.ordered %>
        <%= link_to "Edit Item", edit_item_path(item) %>
        <%= link_to "Delete Item", item, method: :delete %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<br />
<%= link_to "Return back to order request", order_path(@order)%>
