<h1> List of Orders </h1>

<table border="1" style="width:100%" class="sortable">
  <tr>
    <th> Order #</th>
    <th> Vendor </th>
    <th> Requested by: </th>
    <th> Total Price </th>
    <th> Date Requested: </th>
  </tr>
  <div>
    <% @orders.each do |order| %>
    <tr>
      <th> <%= order.id %> </th>
      <th> <%= link_to "#{order.vendor.name}", order_path(order) %> </th>
      <th> <%= order.user.username %> </th>
      <% @total_price = 0 %>
      <% order.items.each do |item| %>
        <% @total_price += (item.quantity * item.price) %>
      <% end %>
      <th> $<%= '%.2f' %  @total_price %> </th>
      <th> <%= order.created_at.strftime('%m-%e-%y')%> </th>
    </tr>
    <% end %>
  </div>
</table>
