<%= form_for(@vendor) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state %><br>
    <%= f.select :state, options_for_select(@states, @vendor.state) %>
  </div>

  <div class="field">
    <%= f.label :zipcode, "Zip Code" %><br>
    <%= f.text_field :zipcode %>
  </div>

  <div class="field">
    <%= f.label :telephone, "Telephone #" %><br>
    <%= f.text_field :telephone %>
  </div>

  <div class="field">
    <%= f.label :webpage %><br>
    <%= f.text_field :webpage %>
  </div>

  <div class="actions">
    <%= f.submit class:"button" %>
  </div>
<% end %>
