<%= form_for @protocol, :html => {:multipart => true} do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <%= tinymce %>
  <div class="field">
    <%= f.label :procedure %><br>
    <%= f.text_area :procedure, class: "tinymce", :rows => 40, :cols => 120 %>
  </div>

  <div class="field">
    <%= f.label :document %><br>
    <%= f.file_field :document %>
  </div>

  <div class="actions">
    <%= f.submit class:"button" %>
  </div>
<% end %>
