<div class="contain-to-grid">
  <div class="top-bar">

    <div class="top-bar-left large-12 medium-6 small-3 row stacked-for-medium">
      <ul class="menu">
        <li class="menu align-left">
          <img src="/assets/logo.png" />
        </li>
        <li class="menu-title">
          <a href="/">LabSolutions</a>
        </li>
        <li>
          <%= form_tag search_orders_path, method: :get do %>
        <div class="small-5 columns">
          <%= text_field_tag :query, params[:query] %>
        </div>
        <div class="small-6 columns">
          <%= submit_tag "Search Orders", class: "button searchbutton", id: "searchbutton" %>
          <% end %>
        </div>
        </li>
      </ul>
    </div>

    <div class="top-bar-right large-12 medium-6 small-3 row stacked-for-medium">
      <ul class="menu align-right">
        <% if current_user || current_user.try(:admin?) %>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "Profile", edit_user_registration_path %></li>
          <% if !Vendor.all.empty? %>
            <li><%= link_to "New Order Request", new_order_path %></li>
          <% end %>
          <li><%= link_to "New Vendor", new_vendor_path %></li>
          <li> <%= link_to "Vendors", vendors_path %></li>
          <li><%= link_to "Orders", orders_path %></li>
        <% else %>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <li><%= link_to "Sign In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>

  </div>
</div>
